
@using BookStore.Models;
@model IEnumerable<Books>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-lg-6">
        <h2 class="text-info"> Book List</h2>
    </div>
    <div class="col-lg-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Add New Book</a>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-lg-3">
            <input type="number" class="form-control" name="lowAmount" />
        </div>
        <div class="col-lg-3">
            <input type="number" class="form-control" name="largeAmount" />
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
    </div>
</form>
<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Edition)
                </th>
               
                <th>
                    @Html.DisplayNameFor(c => c.YearPublished)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Price)
                </th>

                @*<th>
                    @Html.DisplayNameFor(c => c.Condition)
                </th>*@
                <th>
                    @Html.DisplayNameFor(c => c.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.SpecialTagId)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.ISBN</td>
                    <td>@item.Edition</td>
                    @*<td>@item.Description</td>*@
                    <td>@item.YearPublished</td>
                    <td>@item.Price</td>
                    @*<td>@item.Condition</td>*@
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>@item.SpecialTagName.SpecialTagName</td>

                    <td>
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>




            }
             </tbody>
</table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
        $(function () {
            var save = '@TempData["save"]'
            if (save !='') {
                alertify.success(save);
            }
        })

         $(function () {
            var remove = '@TempData["remove"]'
            if (remove != '') {
                alertify.error(remove);
            }


        })

          $(function () {
            var update = '@TempData["update"]'
              if (update != '') {
                  alertify.success(update);
            }


        })
    </script>
}



